// main.less
// here you can fiddle with code


@blue:#08618f;
@90grey:#3c3c3b;
@35grey:#a6a6a6;
@greenlight:#98c230;
@greenmid:#5aa332;
@greendark:#348d43;
@redlight:#e94d1d;
@redmid:#e11714;
@reddark:#b81714;
@redshadow:#8d1a1e;
@chamois:#ecdfcb;
@white:#ffffff;
@black:#000000;



body{
font-family: 'Source Sans Pro', sans-serif;



h1{
	color: @blue;
	font-size: 2.1em;
	font-weight: 600;
	line-height: 1.2;
}
h1#title{
	color: @blue;
	font-size: 5em;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -2px;
}
h1#header{
	color: @blue;
	font-size: 3.5em;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -1px;
}
h2{
	color: @blue;
	font-size: 1.4em;
	font-weight: 600;
	line-height: 1.5em;
}
h2#marginalia{
	color: @greenmid;
	font-size: 1.3em;
	font-weight: 600;
	line-height: 1.7em;
}
h3{
	color: @blue;
	font-size: 1.4em;
	font-weight: 300;
	line-height: 1.5em;
}
h4{
	color: @blue;
	font-size: 1.1em;
	font-weight: 700;
	line-height: 1.5em;
	a:link {color:@greenmid; text-decoration:none; font-weight: 700}
	a:visited {color:@greenlight; text-decoration:none; font-weight: 700}
	a:active {color:@greendark; text-decoration:none; font-weight: 700}
	a:hover {color:@greendark; text-decoration:none; font-weight: 700}

}
p{
	color: @90grey;
	font-size: 1.4em;
	font-weight: 300;
	line-height: 1.5em;
	a:link {color:@greenmid; text-decoration:none; font-weight: 400}
	a:visited {color:@greenlight; text-decoration:none; font-weight: 400}
	a:active {color:@greendark; text-decoration:none; font-weight: 400}
	a:hover {color:@greendark; text-decoration:none; font-weight: 400}
	.bold{
		font-weight: 400;
		color: @black;
		}
	.italic{
		font-style: italic;
		}

}
.navbar {
	-moz-box-shadow: inset 0px 1px 0px 0px @redlight;
	-webkit-box-shadow: inset 0px 1px 0px 0px @redlight;
	box-shadow: inset 0px 1px 0px 0px @redlight;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.2, @redmid), color-stop(1, @reddark) );
	background: -moz-linear-gradient( center top, @redmid 20%, @reddark 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@redmid', endColorstr='@reddark');
	background-color: @redmid;
	border: 1px solid @reddark;
	display: inline-block;
	color: @chamois;
	font-size: 1.3em;
	font-weight: 600;
	padding: 8px 24px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
}.navbar:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(1, @reddark), color-stop(1, @redmid) );
	background: -moz-linear-gradient( center top, @reddark 100%, @redmid 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@reddark', endColorstr='@redmid');
	background-color: @reddark;
	color: @white;
}.navbar:active {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(1, @reddark), color-stop(1, @redmid) );
	background: -moz-linear-gradient( center top, @reddark 100%, @redmid 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@reddark', endColorstr='@redmid');
	background-color: @reddark;
	color: @white;
}
}
